<div class="row">
    <div class="items-controller" ng-repeat="item in menu.items">
        <div class="col-md-4">
            <h4>{{item.name}}</h4>
            <img ng-src="images/{{item.img}}" alt="{{item.name}}" height="200px"/>
            <p>Rating :{{item.rating}} </p>
            <button ng-click="menu.incrementRating(item)">+</button>
            <button ng-click="menu.decrementRating(item)">-</button>
            <p>
                <span ng-if="item.rating >= 4.5" ng-class="{heightlight: item.rating> 4.8 }"> - Awesome choice! </span>
                <span ng-if="item.rating < 4.5 && item.rating >= 4.0"> - Great choice! </span>
                <span ng-if="item.rating < 4.0 && item.rating >= 3.5"> - Good choice! </span>
                <span ng-if="item.rating <3.5"> - Give it a try</span>
            </p>
            <div>
                <select ng-model="item.meal">
                    <option value="breakfast">Breakfast</option>
                    <option value="lunch">Lunch</option>
                    <option value="dinner">Dinner</option>
                </select>
                <button ng-click="menu.choseItem(item.meal,item.name)">Chose</button>
            </div>
        </div>
    </div>
</div>
